@import "src/app/employee/empdashboard/empdashboard.component.scss";
.card1 {
    background-color: #fff;
    border-radius: 10px;
    height: 25%;
    width: 40%;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.mobile-wrapper1 {
    background: #fff;
    /* relative with .today-box::before*/
    z-index: 1;  /*positive*/ // PARENT
    position: relative;
    /*---------*/
    width: 750px!important;  //380
    min-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px #000;
    
 }
 .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 1px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.l-bg-blue-dark {
    background: linear-gradient(to right, #fafbfc , #f9fafb) !important;
    color: rgb(7, 7, 7);
}
