.input_width
{
    width: 100%;
    height: 50px;
    border-radius: 10px;

}

 .showdesk {
    margin-top: 20px;
    //background-color: red;
    display: flex;
    align-items: center;
 }
 .hide_me {
    display: none;
 }
 .slot_div {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
 }
 .slot_item {
    height: 60px;
    width: 100px;
 
    background-color: rgb(252, 8, 8,0.5);
    margin: 5px 6px; //top left
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
 }
 .slot_item1 {
   height: 60px;
   width: 100px;

   background-color: rgb(141, 241, 141);
   margin: 5px 6px; //top left
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   font-size: 1.2rem;
   cursor: pointer;
}
 .active {
    background-color: rgb(63, 129, 183);
 }
 .slot_details {
    width: 70%;
 }
 .slot_title {
    width: 100%;
    font-size: 1.25rem;
 }
 #ar{
   font-size: small;
   padding-left: 1.5%;
   padding-top: 0.8%;
   padding-bottom: 1%;
   padding-right: 1%;
   background-color: rgb(141, 241, 141);
   text-align: center;
   margin-left:25% ;
 }
 #nar{
   font-size: small;
   margin-left: 2%;
   padding-left: 1.5%;
   padding-top: 0.8%;
   padding-bottom: 1%;
   padding-right: 1%;
   background-color: rgb(252, 8, 8,0.5);
 }
 .txt{
   font-size: medium;
 }