<div class="container-fluid page">
    <!-- <div class="d-flex page__box p-3 mt-2">Add Desk</div> -->
    <div class="page__content  mt-5">
        <div class="container"  style="background-color: white;">
            <div class="row" >
                <div class="col-md-12" >
                    <div class="main-box clearfix align-items-center ">
                        <!-- {{floor | json}}   -->
                        <form (ngSubmit)="addDesk()"  #mdesk2="ngForm">
                            <div class="form-row p-3">
                                <div class="form-group col-md-6">
                                    <div  class="slot_title ">
                                       Enter Desk Name
                                    </div>
                                    <br>
                                    <input [(ngModel)]="book_desk_all.deskName" name="deskName" type="input" class="form-control input_width"
                                        id="input" placeholder="DeskName" required #mdesk3="ngModel">
                                        <div class="alert alert-danger position-relative" *ngIf="mdesk3.invalid && (mdesk3.touched || mdesk3.dirty)">
                                            <span>Field is required</span></div>
                                </div>
                            </div>
                            
                            <!--select floor-->
                            <!-- <div class="form-group col-md-6">
                                <label for="role">Floor</label>
                                <select [(ngModel)]="book_desk_all.floor"  name="floor"
                                    class="form-control input_width" id="floor">
                                    <option>Select</option>
                                    <option *ngFor="let f of floor" [ngValue]="f">{{f?.floorNo}}</option>
                                </select>
                            </div> -->

                            <input type="text" [(ngModel)]="book_desk_all.floor" name="floor" class="hide_me" />
                            <div class="slot_details">
                                <div  class="slot_title ">
                                    Select Floor
                                </div>
                                <div class="slot_div">

                                    <div class="slot_item" *ngFor="let d of floor" (click)="setNewVal(d)"
                                        [ngClass]="{'active':setSlot==d.floorId}">
                                        {{d.floorNo}}
                                    </div>
                                    
                                </div>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-lg" [disabled]="mdesk2.invalid" style="margin-bottom:10px;">Add Desk</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>