<div class="container-fluid page">
    <!-- <div class="d-flex page__box p-3 mt-2">Add Parking Slot</div> -->
    <div class="page__content mt-5">
        <div class="container" style="background-color: white;">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-box clearfix align-items-center ">
                        <!-- {{book_slot_all | json}}   -->
                        <form (ngSubmit)="addSlot()" #mp="ngForm">
                            <div class="form-row p-2">
                                <div class="form-group col-md-6">
                                    <div  class="slot_title ">
                                        Enter ParkingSlot Name 
                                    </div>
                                    <br>
                                    <input [(ngModel)]="book_slot_all.parkingSlotName" name="parkingSlotName" type="input" class="form-control input_width"
                                        id="input" placeholder="SlotName" required #mp1="ngModel">
                                        <div class="alert alert-danger position-relative" *ngIf="mp1.invalid && (mp1.touched || mp1.dirty)">
                                            <span>Parking slot name is required</span>
                                        </div>
                                </div>
                            </div>
                            <!--select area-->
                            <!-- <div class="form-group col-md-6">
                                <label for="role">Area</label>
                                <select [(ngModel)]="book_slot_all.area"  name="floor"
                                    class="form-control input_width" id="floor">
                                    <option>Select</option>
                                    <option *ngFor="let f of area" [ngValue]="f">{{f?.areaNo}}</option>
                                </select>
                            </div> -->

                            <input type="text" [(ngModel)]="book_slot_all.area" name="slots" class="hide_me" />
                            <div class="slot_details">
                                <div  class="slot_title ">
                                    Select Area 
                                </div>
                                <div class="slot_div">

                                    <div class="slot_item" *ngFor="let d of area" (click)="setNewVal(d)"
                                        [ngClass]="{'active':setSlot==d.areaId}">
                                        {{d.areaNo}}
                                    </div>

                                </div>
                            </div>
                            <div class="text-center">
                                <!-- <button type="submit" class="btn btn-primary">Add Slot</button> -->
                                <button type="submit" class="btn btn-info btn-lg" [disabled]="mp.invalid" style="margin-bottom:10px">Add Slot</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>